{% extends 'admin_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3>Add Product Offer</h3>
                </div>
                <div class="card-body">
                    <form action='{% url "add_product_offer" %}' method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product</label>
                            <select id="productName" name="productName" class="form-select" required>
                                <option value="" disabled selected>Select Product</option>
                                {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="percentage" class="form-label">Percentage</label>
                            <input type="number" class="form-control" id="percentage" name="percentage" placeholder="Percentage %" required>
                        </div>
                        <div class="mb-3">
                            <label for="start_date" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="start_date" name="start_date" required>
                        </div>
                        <div class="mb-3">
                            <label for="end_date" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="end_date" name="end_date" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                        <a href="{% url 'pro_offer' %}" class="btn btn-secondary ms-2">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
