{% extends "admin_base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 py-5">
    <h2>Add Coupon</h2>
    <form method="POST" action="{% url 'add_coupon' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="code" class="form-label">Coupon Code</label>
                <input type="text" class="form-control" id="code" name="code" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="discount" class="form-label">Discount Amount</label>
                <input type="number" class="form-control" id="discount" name="discount" min="0" max="100" required>
            </div>
            <div class="col-md-12 mb-4">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter a brief description of the coupon..."></textarea>
            </div>
            <div class="col-md-6 mb-3">
                <label for="expiry_date" class="form-label">Expiry Date</label>
                <input type="date" class="form-control" id="expiry_date" name="expiry_date" required>
            </div>
            <div class="col-md-6 mb-4">
                <label for="usage_limit" class="form-label">Usage Limit</label>
                <input type="number" class="form-control" id="usage_limit" name="usage_limit" min="1" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="min_price" class="form-label">Minimum Price to Apply Coupon</label>
                <input type="number" class="form-control" id="min_price" name="min_price" min="0" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="is_active" class="form-label">Active</label>
                <select class="form-select" id="is_active" name="is_active">
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </div>
            
           
            
        </div>
        <button type="submit" class="btn btn-primary">Add Coupon</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </form>
</div>
{% endblock content %}