{% extends "admin_base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 py-5">
    <div class="row align-items-center px-4">
        <div class="col-md-6">
            <h2>Categories</h2>
        </div>
        <div class="col-md-6 text-end">
            <form class="d-flex justify-content-end" method="GET" action="">
                <input class="form-control me-2 col-sm-6" type="search" placeholder="Search..." aria-label="Search" name="search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-12 d-flex justify-content-end text-end">
            <div class="addcategorybutton">
                <a href="{% url 'add_category' %}" class="btn btn-dark mt-2">Add Category</a>
            </div>
        </div>
    </div>

    <div class="col-lg-12 grid-margin mt-3 py-3 stretch-card" style="background-color: black;">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped text-white">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td>{{ forloop.counter}}</td>
                                <td>{{ category.name }}</td>
                                <td>
                                    {% if category.is_listed %}
                                    <span class="text-success">Listed</span>
                                    {% else %}
                                    <span class="text-danger">Unlisted</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-inverse-info btn-sm" href="{% url 'edit_category' category.id %}">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->
                {% comment %} {% if categories.paginator.num_pages > 1 %}
                <div class="pagination justify-content-center">
                    <ul class="pagination">
                        {% if categories.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ categories.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo; First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}

                        <li class="page-item"><span class="page-link">Page {{ categories.number }} of {{ categories.paginator.num_pages }}</span></li>

                        {% if categories.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ categories.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ categories.paginator.num_pages }}">Last &raquo;</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last &raquo;</span></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %} {% endcomment %}
                <!-- End Pagination -->

            </div>
        </div>
    </div>
</div>

{% endblock content %}
